# autosave files
*.asv

# personal folders
/archive/
/bin/
/recon_data/

# packages
/k-wave-toolbox-version-1.2.1/
/pat-toolbox-version-2.7/
/multiSliceGui/

# other people code
/@Medium/
/@ElasticMatrix/