# autosave files
*.asv

# personal folders
/archive/
/bin/
/recon_data/

# packages
/k-wave-matlab-feat_polishing_release_V1.3/
/k-wave-toolbox-version-1.2.1/
/k-wave-toolbox-version-1.2-cpp-windows-executable-avx2/
/pat-toolbox-version-2.7/
/multiSliceGui/
/field2/
/ustb/

# other people code
/@Medium/
/@ElasticMatrix/

# ???
hi.ps